@{
    ViewBag.Title = "Discover Melbourne";
}

<section class="main_section_agile">
    <div class="w3-banner">
        <div id="typer"></div>
        <p class="mx-auto py-3">
            Get access to popular points of interests and safety information to experience an amazing holiday in Melbourne. 
        <p class="mx-auto my-2">
            <a href="/ExploreMelbourne" class="blog-btn ">Explore</a>
        </p>

        </p>
    </div>
</section>

<section class="wthree-row w3-about py-md-5">
    <div class="container py-4 mt-2">
        <h3 class="tittle text-center mb-3">Different holiday experience</h3>
        <p class="tit text-center mx-auto">
            Travelling in Melbourne is relatively safe and easy, but planning ahead will help you make the most of your holiday.
        </p>
        <div class="card-deck pt-4 mt-md-4">
            <div class="card">
                <img src="images/g13.jpg" class="img-fluid" alt="Card image cap">
                <div class="card-body w3ls-card">
                    <h5 class="card-title">Leisure Activities</h5>
                    <p class="card-text mb-3 ">
                        There's plenty of things to do for the whole family in Melbourne from interactive museums to popular parks and gardens.
                    <a href="#" class="blog-btn" data-toggle="modal" data-target="#myModal">Read More</a>
                </div>
            </div>
            <div class="card">
                <img src="images/g14.jpg" class="img-fluid" alt="Card image cap">
                <div class="card-body w3ls-card">
                    <h5 class="card-title">Beautiful Scenery</h5>
                    <p class="card-text mb-3 ">
                        Melbourne's diverse landscape makes it full of stunning, scenic panoramas
                    </p>
                    <a href="#" class="blog-btn" data-toggle="modal" data-target="#myModal">Read More</a>
                </div>
            </div>
            <div class="card">
                <img src="images/g12.jpg" class="img-fluid" alt="Card image cap">
                <div class="card-body w3ls-card">
                    <h5 class="card-title">Outdoor Adventure</h5>
                    <p class="card-text mb-3 ">
                        Make the most of the rivers, parks and coastline Melbourne has to offer with a range of outdoor activities to suit your interests and lifestyle.
                    </p>
                    <a href="#" class="blog-btn" data-toggle="modal" data-target="#myModal">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="agileits-services py-md-5">
    <div class="container py-4 mt-2">
        <h3 class="tittle text-center mb-3 text-white">Services</h3>
        <p class="tit text-center mx-auto text-white">
            Providing tourists on a short holiday, access to the most popular local and cultural attractions around Melbourne city. Also providing them adequate safety information while exploring certain places in Melbourne
        </p>
        <div class="row agileits-services-row pt-4 mt-md-4">
            <div class="col-md-4 agileits-services-grids">
                <div class="row ser-tp">
                    <div class="col-xs-3 wthree-ser">
                        <i class="fab fa-accessible-icon"></i>
                    </div>
                    <div class="col-xs-9 wthree-heading">
                        <h4 class="pl-3">Points of Interest</h4>
                    </div>
                    <p class="mt-3">
                        Get access to a list of major tourist attractions in Melbourne City and have an amazing holiday experience
                    </p>
                </div>
            </div>
            <div class="col-md-4 agileits-services-grids">
                <div class="row ser-tp">
                    <div class="col-xs-3 wthree-ser">
                        <i class="fas fa-anchor"></i>
                    </div>
                    <div class="col-xs-9 wthree-heading">
                        <h4 class="pl-3">Traffic Rules</h4>
                    </div>
                    <p class="mt-3">
                        General road and traffic rules information to ensure you have a hassle-free and safe trip.
                    </p>
                </div>
            </div>
            <div class="col-md-4 agileits-services-grids">
                <div class="row ser-tp">
                    <div class="col-xs-3 wthree-ser">
                        <i class="fab fa-avianex"></i>
                    </div>
                    <div class="col-xs-9 wthree-heading">
                        <h4 class="pl-3">Road Signs</h4>
                    </div>
                    <p class="mt-3">
                        Some road signs you need to know before exploring Melbourne
                    </p>
                </div>
            </div>
        </div>
        <div class="row agileits-services-row-2">
            <div class="col-md-4 agileits-services-grids">
                <div class="row ser-tp">
                    <div class="col-xs-3 wthree-ser">
                        <i class="fas fa-bus"></i>
                    </div>
                    <div class="col-xs-9 wthree-heading">
                        <h4 class="pl-3">Locations & Map</h4>
                    </div>
                    <p class="mt-3">
                        Find exact location of your favourite place of interest on the map.
                    </p>
                </div>
            </div>
            <div class="col-md-4 agileits-services-grids">
                <div class="row ser-tp">
                    <div class="col-xs-3 wthree-ser">
                        <i class="fas fa-fighter-jet"></i>
                    </div>
                    <div class="col-xs-9 wthree-heading">
                        <h4 class="pl-3">Safety Information</h4>
                    </div>
                    <p class="mt-3">
                       Get to know about safe areas and timings before venturing out in the city.
                    </p>
                </div>
            </div>
            <div class="col-md-4 agileits-services-grids">
                <div class="row ser-tp">
                    <div class="col-xs-3 wthree-ser">
                        <i class="fas fa-car"></i>
                    </div>
                    <div class="col-xs-9 wthree-heading">
                        <h4 class="pl-3">Travel Information</h4>
                    </div>
                    <p class="mt-3">
                        Get to know about modes of public transport and their operational information.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
